<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Información</title>
</head>
<body>
    <nav>
        <ul class="activado">
            <li><a href="index.html">Principal</a></li>
            <li><a href="instrucciones.html">Instrucciones</a></li>
            <li><a href="informacion.html">Informacion</a></li>
        </ul>
    </nav>
    <h1>HOLA</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nulla deleniti. Fuga rem earum, culpa consequuntur dignissimos nostrum id cupiditate quidem vitae autem inventore maxime doloremque totam corrupti rerum quas.</p>
    <p>Assumenda deleniti cum esse soluta beatae a corporis ad fuga quo vero minus rem autem eius, eligendi nesciunt earum animi quaerat nulla, molestias libero ex delectus voluptates? Blanditiis, aperiam neque!</p>
    <p>Fugit labore similique corrupti consequatur voluptates ad odio possimus magnam animi, culpa atque asperiores nobis, dolores aperiam quaerat praesentium quam! Iure dolorem harum eligendi obcaecati perferendis t